.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: hsl(275, 100%, 97%);
  background-image: url("../assets/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: "Work Sans", sans-serif;
}

@media only screen and (min-width: 600px) {
  .page {
    background-image: url("../assets/background-pattern-desktop.svg");
  }
}
